
    
      h1 {
         color: red;
         font-size: 28pt;
   font-family:Comic Sans MS;
        }
     body {
          background-image: url("bg1.png");
  background-color: #cccccc;
      }
    p {
      color: pink;
      font-size: 24pt; 
        font-family:Comic Sans MS;
        }
   h2 {
      color: pink;
      font-size: 20pt; 
        font-family:Comic Sans MS;
        }
    h3 {
      color: pink;
      font-size: 8pt; 
        font-family:Comic Sans MS;
        }
        
     table {
         color: pink;
         font-size: 8pt;
   font-family:Comic Sans MS;
        }

   
